.button{
    background-image: url("../assets/btnback.png");
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F1902;
text-align: center;
  font-family: "Awesome Shorten", serif;
  font-size: 40px;
font-style: normal;
font-weight: 200;
line-height: 79.145%; /* 44.033px */
width: 310px;
letter-spacing: 1.5px;
height: 111px;
}